<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lost & Found</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
  
    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <div class="vert-text">
        <h1>LOST & FOUND</h1>
        <h3><em>Sie</em> your lost, <em>We</em> found </h3>
        <a href="#about" class="btn btn-default btn-lg">Log in</a>
      </div>
    </div>
    <!-- /Full Page Image Header Area -->
  

    <!-- 改善：1.增加面包屑导航，登录入口换到右上角（不应在中间按钮） -->
    <!-- 2.丢东西和捡东西的换成并列？待定 -->
    <!-- 根据cookie判断登录状态？进而跳转不同页面的功能。等下百度 -->
    <!-- 加个分类或者搜索功能 -->

  

    <!-- Callout -->
    <div class="callout">
      <div class="vert-text">
        <h1>这写点什么</h1>
      </div>
    </div>
    <!-- /Callout -->

    <!-- /found -->
    <div id="" class="">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>捡到的东东</h2>
            <hr>
          </div>
        </div>
        {% for i in range(0, len//2) %}
        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center">
            <div class="portfolio-item">
              <a href="#"><img class="img-portfolio img-responsive" src={{items[2*i]}}></a>
              <h4>{{description[2*i]}}</h4>
              <button type="button" class="btn btn-outline-info" >认领</button>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="portfolio-item">
              <a href="#"><img class="img-portfolio img-responsive" src={{items[2*i+1]}}></a>
              <h4>{{description[2*i+1]}}</h4>
              <button type="button" class="btn btn-outline-info" >认领</button>
            </div>
          </div>
        </div>
        {% endfor %}

        {% if len%2==1 %}

        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center">
            <div class="portfolio-item">
              <a href="#"><img class="img-portfolio img-responsive" src={{items[len-1]}}></a>
              <h4>{{description[len-1]}}</h4>
              <button type="button" class="btn btn-outline-info" >认领</button>
            </div>
          </div>
          </div>

        {% endif %}
 
      </div>
    </div>
    <!-- /found -->

    <!-- /lost -->
    <div id="" class="">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>丢失的东东</h2>
            <hr>
          </div>
        </div>

        {% for i in range(0, len//2) %}
        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center">
            <div class="portfolio-item">
              <a href="#"><img class="img-portfolio img-responsive" src={{items[2*i]}}></a>
              <h4>{{description[2*i]}}</h4>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="portfolio-item">
              <a href="#"><img class="img-portfolio img-responsive" src={{items[2*i+1]}}></a>
              <h4>{{description[2*i+1]}}</h4>
            </div>
          </div>
        </div>
        {% endfor %}

        {% if len%2==1 %}

        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center">
            <div class="portfolio-item">
              <a href="#"><img class="img-portfolio img-responsive" src={{items[len-1]}}></a>
              <h4>{{description[len-1]}}</h4>
            </div>
          </div>
          </div>

        {% endif %}

        </div>
      </div>
    </div>
    <!-- /lost -->

    <!-- Call to Action -->
    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h3>找到你的宝贝了吗~~~</h3>
            <a href="#" class="btn btn-lg btn-default">给个好评</a>
            <a href="#" class="btn btn-lg btn-primary">提个bug</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Call to Action -->

    
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="list-inline">
              <li><i class="fa fa-facebook fa-3x"></i></li>
              <li><i class="fa fa-twitter fa-3x"></i></li>
              <li><i class="fa fa-dribbble fa-3x"></i></li>
            </ul>
            <div class="top-scroll">
              <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
            </div>
            <hr>
            <p>Copyright &copy; Siemens 2022</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->

    <!-- JavaScript -->
    <script src="static/js/jquery-1.10.2.js"></script>
    <script src="static/js/bootstrap.js"></script>

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    <script>
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>

  </body>

</html>